{% extends "base.html" %}
{% block content %}
  <h1>Editar Cliente: {{ cliente['nome_cliente'] }}</h1>
  <hr>
  <form method="post">
    <fieldset>
        <legend>Design e Layout</legend>
        
        <label for="logo_path">Logo:</label>
        <select name="logo_path" id="logo_path">
            <option value="">-- Nenhum --</option>
            {% for imagem in imagens %}
                <option value="{{ imagem }}" {% if imagem == cliente.logo_path %}selected{% endif %}>
                    {{ imagem }}
                </option>
            {% endfor %}
        </select>
        
        <label for="fonte_titulo_path">Fonte do Título:</label>
        <select name="fonte_titulo_path" id="fonte_titulo_path">
            <option value="">-- Nenhuma --</option>
            {% for fonte in fontes %}
                <option value="{{ fonte }}" {% if fonte == cliente.fonte_titulo_path %}selected{% endif %}>
                    {{ fonte }}
                </option>
            {% endfor %}
        </select>

        <label for="fonte_categoria_path">Fonte da Categoria:</label>
        <select name="fonte_categoria_path" id="fonte_categoria_path">
            <option value="">-- Nenhuma --</option>
            {% for fonte in fontes %}
                <option value="{{ fonte }}" {% if fonte == cliente.fonte_categoria_path %}selected{% endif %}>
                    {{ fonte }}
                </option>
            {% endfor %}
        </select>
        </fieldset>

    </form>
{% endblock %}
